global
	maxconn 100

defaults
	log {{ HA_LOG }}
	mode {{ HA_MODE }}
	retries {{ HA_RETRIES }}
	timeout client {{ HA_TIMEOUT_CLIENT }}
	timeout connect {{ HA_TIMEOUT_CONNECT }}
	timeout server {{ HA_TIMEOUT_SERVER }}
	timeout check {{ HA_TIMEOUT_CHECK }}

listen stats
	mode http
	bind *:7000
	stats {{ STATS_ENABLE }}
	stats uri /

listen config_server
	bind *:{{ HA_PORT }}
	{{ HA_HEALTH_CHECK }}
	default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
        {% for server in HA_SERVERS %}
        {{ server }}
        {% endfor %}
